* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.infoCard {
  width: 330px;
  // height: 130px;
  margin: auto;
  margin-top: var(--cardMT);
  border-radius: 20px;
  background: var(--bgCLR);

  h3 {
    padding-top: 5px;
    color: var(--primaryCLR);
  }

  .localTime {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: auto;

    .time {
      margin-top: 10px;
      font-size: 2rem;
      color: var(--primaryCLR);
    }

    .date {
      margin-top: 10px;
      font-size: 14px;
      color: rgb(245, 227, 227);
    }
  }

  .message {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    color: var(--secondaryCLR);
    font-size: 14px;
    padding-bottom: 10px;
  }
}
// .sunny {
//   background: yellow;
//   width: 330px;
//   height: 130px;
//   margin: auto;
//   margin-top: 10px;
//   border-radius: 20px;
//   background: rgba(0, 0, 0, 0.23);
// }
// .rainy {
//   background: blue;
//   width: 330px;
//   height: 130px;
//   margin: auto;
//   margin-top: 10px;
//   border-radius: 20px;
//   background: rgba(0, 0, 0, 0.23);
// }
// .cloudy {
//   background: grey;
//   width: 330px;
//   height: 130px;
//   margin: auto;
//   margin-top: 10px;
//   border-radius: 20px;
//   background: rgba(0, 0, 0, 0.23);
// }
// .snowy {
//   background: white;
//   width: 330px;
//   height: 130px;
//   margin: auto;
//   margin-top: 10px;
//   border-radius: 20px;
//   background: rgba(0, 0, 0, 0.23);
// }