.firstCard {
  width: 330px;
  margin: auto;
  margin-top: calc(var(--cardMT) + 10px);
  border-radius: 20px;
  background: var(--bgCLR);
}

.location {
  padding-top: 15px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;

  .city {
    font-weight: bold;
    color: whitesmoke;
  }

  .country {
    color: whitesmoke;
  }

  .localTime {
    font-size: 10px;
    color: whitesmoke;
  }
}

.shortWeather {
  display: flex;

  .localTemp {
    width: 60px;
    font-size: 4.5rem;
    font-weight: bolder;
    margin-left: 1rem;
    color: var(--primaryCLR);
  }

  button {
    background: transparent;
    border: none;
  }

  .tempC,
  .tempF {
    cursor: pointer;
    color: var(--primaryCLR);

    &:focus,
    &:active {
      color: greenyellow;
    }
  }
  .tempC.active,
  .tempF:active {
    color: greenyellow;
  }

  .divider {
    color: rgb(156, 133, 133);
  }

  img {
    width: 100px;
    height: 100px;
  }

  .condition {
    transform: rotate(90deg);
    color: var(--secondaryCLR);
  }
}

.tempNow {
  width: 35%;
  height: 100%;
  position: relative;
}
.unitBtn {
  width: 5rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 70px;

  button {
    padding: 0;
    margin: 0;
  }
}
